/* login.module.css */
.container {
      font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* aligner le formulaire vers le haut */
  min-height: 100vh;
  gap: 20px;
  flex-direction: column;
  padding-top: 60px; /* <-- espace au dessus du formulaire et logo */
background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadeInContainer 1s ease forwards;
  opacity: 0;
  padding: 20px; /* pour éviter que ça touche les bords sur mobile */

}

.container img {
  width: 140px;   /* augmenter la largeur de l'image */
  height: 120px;  /* augmenter la hauteur */
  padding-bottom: 0px; /* espace entre l'image et le formulaire */
}


@keyframes fadeInContainer {
  to {
    opacity: 1;
  }
}

.form {
      font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  background-color: white; /* fond blanc semi-transparent */
 border-radius: 8px;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.1);
 
 
  width: 100%;
max-width: 800px;
  /* px fade-in du formulaire */
  animation: fadeInForm 1s ease forwards;
  opacity: 0;
  transform: translateY(-20px);
}

.gauche{
  display: flex;
flex-direction: column;
  justify-content: center;
   gap: 20px;
   padding: 0;
   width: 85%;
}
.droite{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}
.espace{
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 7px;
}
.espace label{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  color: rgb(10, 97, 155);
  font-weight:bold ;
}
.espace span{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: rgb(75, 74, 74);
  font-size: 1.0rem;
  letter-spacing: 1 !important;
}


.error{
 padding: 10px;
  display: flex;
  align-items: flex-start;
}
.entete  {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.entete h2{
  font-size: 1.7rem;
  font-weight: 570;
  color: rgb(10, 97, 155);
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.entete h3{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.0rem;
  color: gray;
  font-weight: normal;
}
@keyframes fadeInForm {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #192719;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #27302a;
}



.password{
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}
.password label{
    color: rgb(10, 97, 155);
    cursor: pointer;
     font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}
.password label:hover{
    text-decoration: underline;
    
}


.signup {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
  margin-top: 0px;
  font-size: 17px;
  color: #555;
}

.signup a {
  color: rgb(51, 94, 143);
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.signup a:hover {
  text-decoration: underline;
}


.divider {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}


@media (max-width : 430px) {
    

    .form {
  border-radius: 12px;
  max-width: 100% !important;
  gap: 10px;
padding: 25px;
  /* Scroll si écran petit */
  max-height: 80vh;
  overflow-y: auto;
}


.container img{
  width: 115px !important;
  height: 110px !important;
}
.form h2{
  font-size:  19px;
}





}

@media (max-width :1370px) {
.container img{
  width: 110px !important;
  height: 100px !important;
}
.form{
 gap :10px ;
}

}




@media (max-width : 660px) {

  .form{
    max-width: 80%;
  }
  .droite{
    display: none;
  }
  .gauche{
    width: 100%;
  }
  .entete {
    align-items: flex-start;
  }
  .entete h2{
    font-size: 1.5rem;
  }
  .error{
  padding: 0;}
}