/* header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #192719;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.link:hover {
  color: #a0b1a0;
}

.user {
  font-size: 1rem;
  font-weight: 500;
}
