/* login.module.css */
.container {
      font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* aligner le formulaire vers le haut */
  min-height: 100vh;
  gap: 20px;
  flex-direction: column;
  padding-top: 60px; /* <-- espace au dessus du formulaire et logo */
background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadeInContainer 1s ease forwards;
  opacity: 0;
  padding: 20px; /* pour éviter que ça touche les bords sur mobile */

}

.container img {
  width: 110px;   /* augmenter la largeur de l'image */
  height: 110px;  /* augmenter la hauteur */
  padding-bottom: 0px; /* espace entre l'image et le formulaire */
}


@keyframes fadeInContainer {
  to {
    opacity: 1;
  }
}

.form {
      font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  
  padding: 30px;
  background-color: white; /* fond blanc semi-transparent */
 border-radius: 8px;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.1);
 
  gap: 20px;
  width: 100%;
max-width: 450px;
  /* px fade-in du formulaire */
  animation: fadeInForm 1s ease forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes fadeInForm {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #192719;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #27302a;
}



.password{
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}
.password label{
    color: rgb(10, 97, 155);
    cursor: pointer;
     font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}
.password label:hover{
    text-decoration: underline;
    
}


h2{
    text-align: center;
    font-size: 28px;
    font-weight: 400px;
    letter-spacing: 1px;
        color: rgb(51, 94, 143) !important;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.signup {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
  margin-top: 0px;
  font-size: 17px;
  color: #555;
}

.signup a {
  color: rgb(51, 94, 143);
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.signup a:hover {
  text-decoration: underline;
}


.divider {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}


@media (max-width : 430px) {
    

    .form {
  border-radius: 12px;
  width:330px;
  gap: 10px;
padding: 25px;
  /* Scroll si écran petit */
  max-height: 100vh;
  overflow-y: auto;
}

.container img{
  width: 5px !important;
  height: 0px !important;
}
.form h2{
  font-size:  1.3rem;
}
.signup span{
  font-size:  0.8rem;
}

.signup a{
    font-size:  0.8rem;
}




}

@media (max-width :1370px) {
.container img{
  width: 110px !important;
  height: 100px !important;
}
.form{
 gap :10px ;
}

}


.flexible {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap : 15px ; 
}