:root {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
 line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;

}

/* Fond du container principal du Viewer */
.rpv-core__viewer {
  background-color: transparent !important;
}

/* Fond des pages PDF */
.rpv-core__page-layer {
  background-color: transparent !important;
}

/* Fond du canvas PDF */
.rpv-core__canvas-layer {
  background-color: transparent !important;
}

